.update-crewmate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin-left: 200px;
}

.update-crewmate h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.color-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-options label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 8px;
}

.color-options input[type="radio"] {
    margin-right: 5px;
}

.update-crewmate button {
    padding: 12px 24px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #565656;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

.update-crewmate button:hover {
    background-color: #3b3b3b;
    transform: translateY(-2px);
}

.delete-button {
    background-color: #8B0000;
}

.delete-button:hover {
    background-color: #5F0000;
}